{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
            {% block title %}

            {% endblock %}
            | Marcos Magaña
        </title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
    </head>
    <body>
        <header>
            <div id="logotipo">
                <img src="{% static 'images/logo.png' %}" />
                <h1>Sitio web con Django </h1>
            </div>
        </header>

        <nav>
            <ul>
                <li>
                    <a href="/inicio">Inicio</a>
                </li>
                <li>
                    <a href="/hola-mundo">Hola Mundo</a>
                </li>
                <li>
                    <a href="/pagina">Página</a>
                </li>
                <li>
                    <a href="/contacto">Contacto</a>
                </li>
            </ul>    
        </nav>

        <div class="barra">
            <span class="esquina-izquierda"></span>
            <span class="relleno-barra"></span>
            <span class="esquina-derecha"></span>
        </div>
        
        <div id="content">
            <div class="box">
                {% block content %}
                <!-- Código que viene del bloque original -->
                    <strong>Contenido del bloque original!!</strong>
                {% endblock %}
            </div>
        </div>

        <footer>
            Master en Python | Marcos Magaña
        </footer>

    </body>
</html>