{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
            {% block title %}

            {% endblock %}
            | Marcos Magaña
        </title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
    </head>
    <body>
        <header>
            <div id="logotipo">
                <img src="{% static 'images/logo.png' %}" />
                <h1>Proyecto con Django </h1>
            </div>
        </header>

        <nav>
            <ul>
                <li>
                    <a href="{% url 'index' %}">Inicio</a>
                </li>
                <li>
                    <a href="{% url 'articulos' %}">Categorías</a>
                    <ul>
                        <li>
                            <a href="{% url 'index' %}">Cat 1</a>
                        </li>
                        <li>
                            <a href="{% url 'index' %}">Cat 2</a>
                        </li>
                        <li>
                            <a href="{% url 'index' %}">Cat 3</a>
                        </li>
                    </ul>
                </li>
                {% for page in pages %}
                    <li>
                        <a href="{% url 'pagina' page.2 %}">{{ page.1 }}</a> 
                    </li>
                {% endfor %}
            </ul>    
        </nav>

        <div class="barra">
            <span class="esquina-izquierda"></span>
            <span class="relleno-barra"></span>
            <span class="esquina-derecha"></span>
        </div>
        
        <div id="content">
            <div class="box">
                {% block content %}
                <!-- Código que viene del bloque original -->
                    <strong>Contenido del bloque original!!</strong>
                {% endblock %}
            </div>
        </div>

        <footer>
            Master en Python &copy; Marcos Magaña - {% now "d/m/Y" %}

        </footer>

    </body>
</html>