{% extends "layout.html" %}

{% block title %} Inicio {% endblock %}

{% block content %}
   <h1>Página de Inicio -  Aprendiendo Flask</h1>
   <br/>

   {% with messages = get_flashed_messages() %}
   
      {% if messages %}
         {% for msg in messages %}
            <div class="message alert-succes">
                  {{ msg }}
            </div>
         {% endfor %}
      {% endif %}

   {% endwith %}



   {% if edad >= 18 and edad <= 100 %}
      <h2>Eres mayor de edad</h2>   
   {% elif edad > 100 %}
      <h2>Eres un Adulto Mayor</h2>  
   {% elif edad < 18 %}
      <h2>Eres menor de edad</h2>
   {% endif %}

   <p>Tu edad es: {{ edad }} </p>
   <br/>


   {{ dato1 }}
   <br/>
   {{ dato2 }}
   <br/>
   {{ lista }}
   <br/><br/>

   {# Comentario #}

   {% include 'includes/personas.html' %}


{% endblock %}